/* st-char.css */

/* page */

.st-page {
	position: relative;
	height: 800px;
	width: 1080px;
	overflow: hidden;
}

.st-page.st-initial-state {
	/* initial state */
	display: none;
}

.st-page-bk {
	position: absolute;
	top:0;
	left:0;
}

.st-page-ft {
	position: absolute;
	top:0;
	left:0;
}

/* overview */

.st-overview {
	background-color: #414042;
	font-size: 14px;
	height: 159px;
	left: 0px;
	position: relative;
	top: 0px;
	width: 800px;
}

.st-overview .st-bevel-tl {
	background-color: #ffffff;
	background-image: url(../../img/bezel-tl.png);
	background-repeat: no-repeat;
	height: 16px;
	left: 0;
	position: absolute;
	top: 0;
	width: 18px;
}

.st-overview-name {
	color: #d36b52;
	display: block;
	font-family: "Scala Sans Pro";
	font-stretch: condensed;
	font-size: 30px;
	height: 45px;
	line-height: 1em;
	padding: 0 30px 0 30px;
	position: absolute;
	text-align: center;
	text-transform: uppercase;
	top: 18px;
	width: 450px;
}

.st-overview-rank {
	color: #d36b52;
	display: block;
	font-family: "Scala Sans Pro";
	font-stretch: condensed;
	font-size: 14px;
	height: 45px;
	line-height: 1em;
	padding: 0 30px 0 30px;
	position: absolute;
	text-align: center;
	text-transform: uppercase;
	top: 48px;
	width: 450px;
}

.st-overview-label {
	background-color: #d36b52;
	padding: 0 6px 0 6px;
	position: absolute;
	text-align: center;
	text-transform: uppercase;
	width: 120px;	
	z-index: 10;
}

.st-overview-label-species {
	top: 90px;
	left: 30px;
}

.st-overview-label-gender {
	top: 90px;
	left: 150px;
}

.st-overview-label-age {
	top: 90px;
	left: 270px;
}

.st-overview-label-traits {
	top: 132px;
	left: 30px;
}

.st-overview-value {
	border-bottom: 1px solid #ffffff;
	color: #ffffff;
	margin-top: -3px;
	padding: 0 6px 0 6px;
	position: absolute;
	text-transform: capitalize;
	width: 120px;
}

.st-overview-species {
	border-left: 1px solid #ffffff;
	border-right: 1px solid #ffffff;
	top: 114px;
	left: 30px;
}

.st-overview-gender {
	border-right: 1px solid #ffffff;
	top: 114px;
	left: 150px;
}

.st-overview-age {
	border-right: 1px solid #ffffff;
	top: 114px;
	left: 270px;
}

.st-overview-traits {
	border-right: 1px solid #ffffff;
	top: 136px;
	left: 150px;
	width: 240px;
}

.st-overview-label-initial {
	left: 270px;
	text-align: center;
	text-transform: uppercase;
	width: 120px;
	top: 158px;
}

.st-overview-initial {
	border-left: 1px solid #ffffff;
	border-right: 1px solid #ffffff;
	left: 270px;
	text-align: center;
	text-transform: uppercase;
	width: 120px;
	top: 182px;
	z-index:10;
}

.st-overview-label-credits {
	left: 270px;
	text-align: center;
	text-transform: uppercase;
	width: 120px;
	top: 202px;
}

.st-overview-credits {
	border-left: 1px solid #ffffff;
	border-right: 1px solid #ffffff;
	left: 270px;
	text-align: center;
	text-transform: uppercase;
	width: 120px;
	top: 226px;
	z-index:10;
}

.st-overview-label-debt {
	left: 270px;
	text-align: center;
	text-transform: uppercase;
	width: 120px;
	top: 240px;
}

.st-overview-debt {
	border-left: 1px solid #ffffff;
	border-right: 1px solid #ffffff;
	left: 270px;
	text-align: center;
	text-transform: uppercase;
	width: 120px;
	top: 266px;
	z-index:10;
}


/* attributes */

.st-attributes {
	background-color: #414042;
	position: absolute;
	height: 186px;
	top: 157px;
	left: 0px;
	width: 800px;
}

.st-attribute-label {
	background-color: #d36b52;
	border: 1px solid transparent;
	font-size: 14px;
	padding: 0 6px 0 6px;
	left: 30px;
	position: absolute;
	text-align: left;
	text-transform: uppercase;
	width: 120px;	
	z-index: 10;
}

.st-attribute-label-characteristics {
	left: 30px;
	text-align: center;
	text-transform: uppercase;
	width: 240px;
}

.st-overview-traits {
	top: 136px;
	left: 150px;
	width: 240px;
}

.st-attribute {
	border: 1px solid transparent;
	border-bottom: 1px solid #ffffff;
	color: #ffffff;
	display: inline-block;
	font-size: 14px;
	left: 150px;
	margin: 0 0 0 0;
	padding: 0 6px 0 6px;
	position: absolute;
	text-transform: uppercase;
	width: 30px;
}

.st-attribute-label-str,
.st-attribute-str {
	top: 23px;
}

.st-attribute-label-dex,
.st-attribute-dex {
	top: 46px;
}

.st-attribute-label-end,
.st-attribute-end {
	top: 69px;
}

.st-attribute-label-int,
.st-attribute-int {
	top: 92px;
}

.st-attribute-label-edu,
.st-attribute-edu {
	top: 115px;
}

.st-attribute-label-soc,
.st-attribute-soc {
	top: 138px;
}

.st-attribute-label-psi,
.st-attribute-psi {
	top: 161px;
}

.st-attribute-mod {
	left:190px;
	width:30px;	
	border: 1px solid #fff;
	background: #fff;
	color: #d36b52;
	text-align: center;
}

.st-attributes .st-bevel-br {
	background-color: #ffffff;
	background-image: url(../../img/bezel-br.png);
	height: 16px;
	position: absolute;
	left: 782px;
	top: 170px;
	width: 18px;
}

.st-img-div {
	position:absolute;
	top:20px;
	left:470px;
	height:304px;
	width:308px;
	overflow: hidden;
}

.st-img {
	position:relative;
	width:100%;
	height: auto;
}

/* skills */

.st-skills {
	border: 1px solid #414042;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 350px;
	left: 0px;
	width: 182px;
}

.st-skills-title {
	background: #414042;
	color: #ffffff;
	padding: 0 10px;
	text-transform: uppercase;
	width: 180px;
}

.st-skill {
	display:block;
	font-size: 8px;
	width: 200px;
}

.st-skill-subset {
	font-style: italic;
}

.st-skill-label {
	display: inline-block;
	text-transform: capitalize;
	width: 160px;
}

.st-skill-value {
	display: inline-block;
	text-align: center;
	width: 20px;
}

.st-skill-negative {
	color: red;
}

.st-skill-value-negative {
	color: red;
}

/* bet */

.st-bet {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 350px;
	left: 190px;
	width: 612px;
}

/* armour */

.st-armour,
.st-weapons,
.st-equipment {
	margin: 0 0 10px 0;
	padding: 0;
}

.st-armour table,
.st-weapons table,
.st-equipment table {
	width: 100%;
}

.st-armour-title,
.st-weapons-title,
.st-equipment-title {
	background: #414042;
	color: #ffffff;
	padding: 0 10px;
	text-transform: uppercase;
}

.st-armour-value,
.st-weapons-value,
.st-equipment-value {
	padding: 0 10px;
}

.st-armour th,
.st-weapons th,
.st-equipment th,
.st-armour td,
.st-weapons td,
.st-equipment td {
	border: 1px solid #414042;
	padding: 2px;
	font-size: 8px;
}

.st-armour th,
.st-weapons th,
.st-equipment th {
	text-transform: uppercase;
}

.st-armour th.st-armour-name {
	width:140px;
}
.st-armour th.st-armour-tl {
	width:24px;
}
.st-armour th.st-armour-mass {
	width:34px;
}
.st-armour th.st-armour-cost {
	width:44px;
}
.st-armour th.st-armour-protection {
	width:54px;
}
.st-armour th.st-armour-equipped {
	width:54px;
}
.st-armour th.st-armour-traits {
	width:104px;
}
.st-armour td.st-armour-name {
	text-transform: uppercase;
	width:140px;
}
.st-armour td.st-armour-equipped {
	text-align: center;
	width:54px;
}

.st-weapons th.st-weapons-name {
	width:140px;
}
.st-weapons th.st-weapons-tl {
	width:24px;
}
.st-weapons th.st-weapons-mass {
	width:34px;
}
.st-weapons th.st-weapons-cost {
	width:44px;
}
.st-weapons th.st-weapons-equipped {
	width:54px;
}
.st-weapons th.st-weapons-traits {
	width:104px;
}
.st-weapons td.st-weapons-name {
	text-transform: uppercase;
	width:140px;
}
.st-weapons td.st-weapons-equipped {
	text-align: center;
	width:54px;
}

.st-equipment th.st-equipment-name {
	width:240px;
}
.st-equipment th.st-equipment-tl {
	width:24px;
}
.st-equipment th.st-equipment-mass {
	width:34px;
}
.st-equipment th.st-equipment-cost {
	width:44px;
}
.st-equipment th.st-equipment-equipped {
	width:54px;
}
.st-equipment th.st-equipment-traits {
	width:104px;
}
.st-equipment td.st-equipment-name {
	text-transform: uppercase;
	width:240px;
}
.st-equipment td.st-equipment-equipped {
	text-align: center;
	width:54px;
}
.st-equipment td.st-equipment-traits {
	width:104px;
}

/* story */

.st-story {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0px;
	left: 810px;
	width: 260px;
}

.st-background {
	margin: 0 0 10px 0;
	padding: 0;
}

.st-background-title {
	background: #414042;
	color: #ffffff;
	padding: 0 10px;
	text-transform: uppercase;
}

.st-background-value {
	padding: 2px;
	font-size: 10px;
}

/* education */

.st-education {
	margin: 0 0 10px 0;
	padding: 0;
}

.st-education-title {
	background: #414042;
	color: #ffffff;
	padding: 0 10px;
	text-transform: uppercase;
}

.st-education-value {
	padding: 2px;
	font-size: 10px;
}

/* terms */

.st-terms {
	margin: 0 0 10px 0;
	padding: 0;
}

.st-terms-title {
	background: #414042;
	color: #ffffff;
	padding: 0 10px;
	text-transform: uppercase;
}

.st-term-value {
	padding: 2px;
	font-size: 9.5px;
}

/* contacts */

.st-contacts {
	margin: 0 0 10px 0;
	padding: 0;
}

.st-contacts-title {
	background: #414042;
	color: #ffffff;
	padding: 0 10px;
	text-transform: uppercase;
}

.st-contact-value {
	padding: 2px;
	font-size: 10px;
	text-transform: capitalize;
}

/* interactions */

.st-interactions {
	margin: 0 0 10px 0;
	padding: 0;
}

.st-interaction-title {
	background: #414042;
	color: #ffffff;
	padding: 0 10px;
	text-transform: uppercase;
}

.st-interaction-value {
	padding: 2px;
	font-size: 10px;
}